<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv = "refresh" content = "13; url = http://127.0.0.1:8000/video_second/"></meta>
    <title>아픈 부위를 말씀해주세요.</title>
    <style>
        h1 {text-align: center;}
    </style>
</head>

<body>
    <br></br>
    <h1>어디가 아프세요?</h1>
    <img src="http://127.0.0.1:8000/opvideo" style = "width:700px; height:500px; margin-left:27%"/>
</body>
</html>

<!--<button style = 'width:400px;height:100px;margin-left:35%;margin-top:10%;font-size:8ch'onclick="location.href='/recandprint'">음성 인식</button>-->
