<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv = "refresh" content = "13; url = http://127.0.0.1:8000/print_result/"></meta>
    <title>증상을 말씀해주세요.</title>
    <style>
        h1{text-align: center;}
    </style>
</head>
<body>
    <br></br>
    <h1>증상이 어떠세요?</h1>
    <img src="http://127.0.0.1:8000/op2video" style = "width:700px; height:500px; margin-left:27%"/>
</body>
</html>